* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

body {
	font-family:
		Helvetica Now Display,
		sans-serif;
	background: #ff0b55;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1000px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.symbol p {
	display: inline-block;
	font-size: 5rem;
	cursor: pointer;
	color: #000;
	margin: 0;
	padding: 0;
	line-height: 1;
	transition:
		color 0.3s,
		ease,
		transform 0.2s,
		ease;
}

.symbol p:hover {
	color: #fff;
	transform: scale(1.05);
}

.links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links li {
	line-height: 1;
	margin: 0.5rem 0;
}

.links a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	font-size: 8rem;
	text-transform: uppercase;
	font-weight: 800;
	padding: 6px 10px;
	transition:
		color 0.3s ease,
		transform 0.2s ease;
	white-space: nowrap;
}

.links a:hover {
	color: #fff;
	transform: scale(1.05);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 2rem;
}

.footer h2 {
	text-transform: uppercase;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

@media (max-width: 1024px) {
	.links a {
		font-size: 6rem;
	}
	.symbol p {
		font-size: 4rem;
	}
}

@media (max-width: 768px) {
	.links a {
		font-size: 4rem;
	}
	.symbol p {
		font-size: 3.5rem;
	}
}

@media (max-width: 480px) {
	body {
		flex-direction: column;
		padding: 2rem 1rem;
	}

	.container {
		padding: 0;
	}

	.links a {
		font-size: 3.4rem;
		padding: 4px 6px;
	}

	.symbol p {
		font-size: 3rem;
	}

	.footer h2 {
		font-size: 0.8rem;
		/*margin-top: 1.5rem;*/
	}
}
